#define ZMK_POINTING_DEFAULT_SCRL_VAL 120

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <22 23>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

    };

    behaviors {
        clk_or_key: clk_or_key {
            compatible = "zmk,behavior-clk-or-key";
            #binding-cells = <2>;
        };

        bt_toggle_01: bt_toggle_01 {
            compatible = "zmk,behavior-bt-toggle-01";
            #binding-cells = <0>;
        };

        vowel_auto: vowel_auto {
            compatible = "zmk,behavior-vowel-auto";
            #binding-cells = <1>;
        };

        os_aware: os_aware {
            compatible = "zmk,behavior-os-aware";
            #binding-cells = <2>;
        };

        os_new_tab_click: os_new_tab_click {
            compatible = "zmk,behavior-os-new-tab-click";
            #binding-cells = <0>;
        };

        os_mclk_or_tog: os_mclk_or_tog {
            compatible = "zmk,behavior-os-aware-mclk-or-tog";
            #binding-cells = <1>;
        };

        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        ROTATE: ROTATE {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "ROTATE";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };
    };

    typing_mode_exit: typing_mode_exit {
        compatible = "zmk,input-processor-typing-mode-exit";
        #input-processor-cells = <0>;
    };

    scroll_mode: scroll_mode {
        compatible = "zmk,input-processor-scroll-mode";
        #input-processor-cells = <0>;
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp TAB    &kp Q      &kp W      &vowel_auto E &kp R      &kp T                                                &kp Y      &vowel_auto U      &vowel_auto I      &vowel_auto O      &kp P              &kp BSPC
&kp LGUI   &vowel_auto A &kp S   &kp D      &kp F      &kp G      &mkp MCLK        &os_new_tab_click          &kp H      &clk_or_key J 0    &clk_or_key K 255  &clk_or_key L 1    &lt 6 SEMI         &lt 5 MINUS
&kp LSHFT  &kp Z      &kp X      &kp C      &kp V      &kp B      &kp DELETE       &kp DOWN_ARROW             &kp N      &kp M              &kp COMMA          &kp DOT            &lt 7 FSLH         &kp RSHFT
&none      &none      &kp LALT   &kp RCTRL  &mt LCTRL LANG2  &lt 2 SPACE  &lt 4 LANG1     &lt 3 ESC  &lt 1 RET                        &kp RGUI           &os_mclk_or_tog 6
            >;

            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };

        layer_1 {
            bindings = <
&tog 6     &none      &none      &none      &none      &none                                                   &kp LG(R)  &none              &os_aware LC(PG_UP) LG(LS(TAB))  &os_aware LC(PG_DN) LG(TAB)  &kp LG(F)          &kp LS(LG(F))
&kp LGUI   &kp LA(A)  &kp LA(S)  &kp LA(D)  &kp LA(F)  &none    &trans    &trans                            &mkp MB4   &kp LG(C)          &kp LG(V)          &kp LS(LG(C))      &kp LC(GRAVE)      &kp LG(W)
&kp LSHFT  &none      &none      &none      &none      &none    &trans    &trans                            &kp LS(N8) &kp LG(X)          &kp LS(LG(V))      &kp LS(LG(Y))      &kp LC(LS(LA(R)))  &kp LC(LA(T))
&none      &none      &kp LALT   &kp LCTRL  &none      &kp SPACE  &none          &none      &none                              &kp ESC            &none
            >;
        };

        layer_2 {
            bindings = <
&none      &none      &none      &kp LC(LS(E)) &kp LC(LS(R)) &kp LS(LG(T))                                      &kp GRAVE  &kp LS(N4)         &kp LS(N9)         &kp LS(N0)         &kp LS(N7)         &kp BSPC
&kp LGUI   &none      &none      &none      &kp LG(P)  &kp LC(LS(LG(E)))  &trans    &trans                    &kp LS(N2) &kp LS(N1)         &kp LBKT           &kp RBKT           &kp LS(BSLH)       &kp BSLH
&kp LSHFT  &none      &none      &none      &none      &none              &trans    &trans                    &kp LS(N3) &kp SQT            &kp COMMA          &kp DOT            &kp FSLH           &none
&none      &none      &none      &none      &none      &none      &kp LGUI       &kp RGUI   &kp LG(RET)                       &none              &none
            >;
        };

        layer_3 {
            bindings = <
&none      &none      &none      &none      &none      &none                                                   &none      &none              &none              &none              &none              &kp BSPC
&none      &none      &none      &none      &none      &none      &trans    &trans                            &kp LC(LS(E)) &kp LC(Q)       &kp LC(G)          &kp LC(GRAVE)      &kp LC(LS(GRAVE))  &none
&none      &none      &none      &none      &none      &none      &trans    &trans                            &kp LC(H)  &kp LC(J)          &kp LC(K)          &kp LC(L)          &none              &none
&none      &none      &none      &none      &none      &none      &kp LALT       &none      &none                              &none              &none
            >;

            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };

        layer_4 {
            bindings = <
&none      &none      &none      &none      &none      &none                                                   &kp LS(COMMA) &kp LS(N5)      &kp EQUAL          &kp LS(EQUAL)      &kp LS(N8)         &kp BSPC
&kp LGUI   &none      &none      &none      &none      &none      &trans    &trans                            &kp N1     &kp N2             &kp N3             &kp N4             &kp N5             &kp MINUS
&kp LSHFT  &none      &none      &none      &none      &none      &trans    &trans                            &kp N6     &kp N7             &kp N8             &kp N9             &kp N0             &kp LS(SEMI)
&none      &none      &none      &kp LCTRL  &none      &kp SPACE  &none          &none      &none                              &none              &none
            >;
        };

        layer_5 {
            bindings = <
&bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_NXT &bt BT_PRV &bt BT_CLR                                          &kp LS(LG(N4))     &kp LC(LS(LG(N4))) &kp LC(LS(S))   &none             &kp LC(LS(LA(P)))  &none
&none      &none      &none      &none      &none      &none      &trans    &trans                            &kp LC(LS(LA(H)))  &kp LC(LS(LA(J)))  &kp LC(LS(LA(K))) &kp LC(LS(LA(L))) &kp LC(LS(LA(SEMI))) &none
&none      &none      &none      &none      &none      &none      &trans    &trans                            &kp LC(LS(LA(N)))  &kp LC(TAB)        &kp LA(TAB)    &none             &none              &none
&none      &none      &none      &none      &none      &none      &none          &none      &bt_toggle_01                     &none              &none
            >;
        };

        layer_6 {
            bindings = <
&kp ESC    &kp Q      &kp W      &kp E      &kp R      &kp T                                                   &kp Y      &kp U              &kp I              &kp O              &tog 6             &kp DEL
&kp LCTRL  &kp A      &kp S      &kp D      &kp F      &kp G      &trans    &trans                            &kp LEFT   &kp DOWN           &kp UP             &kp RIGHT          &kp F12            &bt_toggle_01
&kp LSHFT  &kp Z      &kp X      &kp C      &kp V      &kp B      &kp SPACE &trans                            &kp N      &kp M              &kp GRAVE          &kp LBKT           &kp RBKT           &tog 6
&kp N      &kp M      &kp K      &kp L      &kp N1     &kp N2     &kp N3         &kp ESC    &kp RET                          &kp SPACE          &tog 6
            >;
        };

        layer_7 {
            bindings = <
&trans     &trans     &trans     &trans     &trans     &trans                                                  &trans     &trans             &trans             &trans             &trans             &trans
&trans     &trans     &trans     &trans     &trans     &trans     &trans    &trans                            &trans     &trans             &trans             &trans             &trans             &trans
&trans     &trans     &trans     &trans     &trans     &trans     &trans    &trans                            &trans     &trans             &trans             &trans             &trans             &trans
&trans     &trans     &trans     &trans     &trans     &trans     &trans         &trans     &trans                             &trans             &trans
            >;
        };
    };
};
